* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #F3F4F6;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    text-align: center;
}

h1 {
    color: #111827;
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    color: #111827;
    font-size: 28px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    text-align: left;
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3B82F6;
    color: #fff;
    font-weight: bold;
}

td {
    background-color: #F9FAFB;
}

tr:hover td {
    background-color: #E0E7FF;
}

button {
    padding: 12px 25px;
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 10px;
}

button:hover {
    background-color: #2563EB;
}

button:focus {
    outline: none;
}

a {
    color: #3B82F6;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
    color: #2563EB;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    button {
        padding: 10px 20px;
        font-size: 14px;
    }

    table th, table td {
        font-size: 14px;
        padding: 10px;
    }

    a {
        font-size: 14px;
    }
}
#showPasswordButton {
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#showPasswordButton:hover {
    background-color: #2563EB;
}

#showPasswordButton:focus {
    outline: none;
}